<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boritgogae.AdminMapper">
	<select id="getMembers" resultType="MemberVo">
    select * from members where delStatus = 'N' order by joinDate desc
  </select>
  
  <select id="getNewMembers" resultType="MemberVo">
    select * from members
    where joinDate between date_sub(now(), interval 30 day) and now() and delStatus = 'N'
  </select>
  
  <select id="getLowestProductQTY" resultType="ProductVO">
  	<![CDATA[
  		select * from product where prodQuantity < 100 
  	]]>
  </select>
  
  <select id="getDelMembers" resultType="DeleteAccountVo">
  	select * from deleteAccount order by deleteDate desc
  </select>
  
  <select id="getCoupon" resultType="CouponVo">
  	select * from coupon
  </select>
  
  <insert id="createCoupon">
  	insert into coupon values (#{couponName}, #{couponDiscount}, #{couponUseDate})
  </insert>
</mapper>
