<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.boritgogae.boardFreeMapper">
  
  
  <delete id="deleteImg">
  	 DELETE FROM freeBoardImg WHERE bno=#{bno};
  </delete>
  
  <select id="Fileview" resultType="com.boritgogae.board.free.domain.UploadFileFreeVo">
  	select *from freeBoardImg where bno=#{bno}
  </select>
  
  
  <insert id="insertImageFile">
      insert into freeBoardImg(bno, attachFile)
      values(#{lastNo}, #{savedOriginImageFileName})
   </insert>

   <insert id="insertFile">
      insert into freeBoardImg(bno, attachFile)
      values (#{lastNo},
      #{savedOriginImageFileName})
   </insert>
  
 <update id="updateRef">
 	update freeboard set ref = #{lastNo} where bno=#{lastNo};
 </update>
  
  
  
  <select id="count" resultType="int">
        SELECT count(*) FROM freeboard
  </select>
  
  
  <select id="listAll" parameterType="map" resultType="com.boritgogae.board.free.domain.BoardVo">
  	select *from freeboard order by ref desc limit #{offset},#{pageSize}
  </select>
  
  <select id="getLastNo" resultType="int">
  	select max(bno) as lastpk from freeboard
  	  </select>

 
 <insert id="insertWriter">
 	insert into freeboard(writer,title,content) values(#{writer},#{title},#{content})
 </insert>
 
 <select id="detail" resultType="com.boritgogae.board.free.domain.BoardVo">
 	select *from freeboard where bno = #{bno}
 </select>
 
 <update id="boardUpdate">
 	update freeboard set title=#{title}, content=#{content} where bno=#{bno}
 </update>
 
 <delete id="deleteBoard">
 	delete from freeboard where bno=#{bno}
 </delete>
 
 <update id="readCountUp">
 	update freeboard set readCount= readCount+1 where bno=#{bno}
 </update>
 
 
 
 
 
 
  	
  	<select id="listAllSearch" resultType="com.boritgogae.board.free.domain.BoardVo">
  		
  		
  		select *from freeboard where true and 
  		
  		<if test="searchType== 'title'">
  			title like concat('%',#{title},'%')
  		</if>
  		<if test="searchType== 'writer'">
  			writer like concat('%',#{writer},'%')
  		</if>
  		<if test="searchType== 'content'">
  			content like concat('%',#{content},'%')
  		</if>
 		order by ref desc limit #{offset},#{pageSize}
  	
  	</select>
  	 
  	 <select id="listAllSearchCnt" resultType="int">
  		
  		
  		select count(*) from freeboard where true and 
  		 
  		<if test="searchType== 'title'">
  			title like concat('%',#{searchWord},'%')
  		</if>
  		<if test="searchType== 'writer'">
  			writer like concat('%',#{searchWord},'%')
  		</if>
  		<if test="searchType== 'content'">
  			content like concat('%',#{searchWord},'%')
  		</if>
  		
  	</select>
  		<!-- 댓글 -->

		
    <delete id="deleteAllReply" >
        DELETE FROM freeReply
        WHERE  bno = #{bno}
    </delete>
  
    <select id="countReply"  resultType="int">
        SELECT count(*) FROM freeReply
        WHERE  bno = #{bno}
    </select>

    <delete id="deleteReply" >
        DELETE FROM freeReply WHERE rno = #{rno} 
    </delete>
   
   

    <select id="selectAllReply"  resultType="com.boritgogae.board.free.domain.ReplyVo">
        SELECT 
         rno,bno,replyer,replyContent,replyWittenDate,replyUpdateDate,ifnull(prno,rno)as prno
         from freeReply
        WHERE bno = #{bno}
        ORDER BY prno asc, rno asc
    </select>
    
      <select id="selectReply"  resultType="com.boritgogae.board.free.domain.ReplyVo">
        SELECT
        *FROM freeReply
        WHERE rno = #{rno}
    </select>
    

  
    <update id="updateReply" >
        UPDATE freeReply
        SET replyContent = #{replyContent}
          , replyUpdateDate = now()
        WHERE rno = #{rno} and replyer = #{replyer}
    </update>  		
    
    <insert id="insertReply">
        insert into freeReply(bno, prno, replyContent, replyer, replyWittenDate, replyUpdateDate)values(#{bno},#{prno},#{replyContent},#{replyer},now(),now())
    

    </insert>
  	
  	
  	
  	
  	
  	
  	
  	
  

    <select id="searchSelectPage" resultType="com.boritgogae.board.free.domain.BoardVo">
        SELECT *
        FROM  freeboard
        WHERE true
        <choose>
            <when test='option=="T"'>
                AND title LIKE concat('%', #{keyword}, '%')
            </when>
            <when test='option=="W"'>
                AND writer LIKE concat('%', #{keyword}, '%')
            </when>
            <otherwise>
                AND (title   LIKE concat('%', #{keyword}, '%')
                OR   content LIKE concat('%', #{keyword}, '%'))
            </otherwise>
        </choose>
        ORDER BY createDate DESC, bno DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="searchResultCnt" resultType="int">
        SELECT count(*)
        FROM  freeboard
        WHERE true
       <choose>
            <when test='option=="T"'>
                AND title LIKE concat('%', #{keyword}, '%')
            </when>
            <when test='option=="W"'>
                AND writer LIKE concat('%', #{keyword}, '%')
            </when>
            <otherwise>
                AND (title   LIKE concat('%', #{keyword}, '%')
                OR   content LIKE concat('%', #{keyword}, '%'))
            </otherwise>
        </choose>
    </select>
 
  
  </mapper>