<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.boritgogae.boardProdReplyMapper">
 	<insert id="insertReview">
 		insert into review (writer, prodNo, title, content, assess) values(#{userId}, #{prodNo}, #{title}, #{reviewContent}, #{assess})
 	</insert>
 	<!-- <select id="getOrderDetail" resultType="com.boritgogae.board.prodReply.domain.OrderDetailVo">
 		select * from detailOrder where prodNo = #{prodNo} and where cancelStatus != 'N' and where returnOrExchange != 'N'
 	</select> -->
 	<select id="getOrders" resultType="OrdersVo">
 		select * from orders o inner join detailOrder d on o.orderNo = d.orderNo where o.memberId = #{userId} and d.prodNo = #{prodNo} and d.cancelStatus != 'N' and where d.returnOrExchange != 'N'
 	</select>
 	<select id="getLastReviewNo" resultType="int">
 		select max(reviewNo) as lastNo from review
 	</select>
 	<insert id="insertReviewImg">
 		insert into reviewImg (reviewNo, imgName, thumbnailName) values (#{reviewNo}, #{imgName}, #{thumbnailName})
 	</insert>
 	
 	<select id="selectReviews" resultType="com.boritgogae.board.prodReply.domain.ReviewVO">
		select * from review where prodNo = #{prodNo} order by reviewNo desc limit #{startNum}, #{postPerPage}
 	</select>
 	
 	<select id="selectReviewImgs" resultType="com.boritgogae.board.prodReply.etc.UploadImg">
 		select * from reviewImg where reviewNo = #{reviewNo}
 	</select>
 	
 	<delete id="deleteReview">
 		delete from review where reviewNo = #{reviewNo}
 	</delete>
 	<delete id="deleteReviewImg">
 		delete from reviewImg where reviewNo = #{reviewNo}
 	</delete>
 	
 	<select id="getReviewByRno" resultType="com.boritgogae.board.prodReply.domain.ReviewVO">
 		select * from review where reviewNo = #{reviewNo}
 	</select>
 	
 	<select id="getReviewImgByRno" resultType="com.boritgogae.board.prodReply.etc.UploadImg">
 		select * from reviewImg where reviewNo = #{reviewNo}
 	</select>
 	
 	<update id="modifyReview">
 		update review set title = #{title}, content = #{content}, assess = #{assess} where reviewNo = #{reviewNo}
 	</update>
 	
 	<select id="getReviewCntByProdNo" resultType="int">
 		select count(*) from review where prodNo = #{prodNo}
 	</select>
 	
 	<insert id="insertReply">
 		insert into reviewReply (reviewNo, replyWriter, replyContent) values(#{reviewNo}, #{replyWriter}, #{replyContent})
 	</insert>
 	
 	<select id="gerReplies" resultType="com.boritgogae.board.prodReply.domain.ProdReplyVo">
 		select p.* from reviewReply p inner join review v on p.reviewNo = v.reviewNo where v.prodNo = #{prodNo} order by ref desc, step, refOrder
 	</select>
 	<delete id="deleteReply">
 		delete from reviewReply where rno = #{rno}
 	</delete>
 	<update id="updateRef">
 		update reviewReply set ref = #{lastNo} where rno = #{lastNo}
 	</update>
 	<select id="getLastRno" resultType="int">
 		select max(rno) as lastNo from reviewReply
 	</select>
 	<select id="gerReply" resultType="com.boritgogae.board.prodReply.domain.ProdReplyVo">
 		select * from reviewReply where rno = #{rno}
 	</select>
 	<update id="updateStepRO">
 		update reviewReply set step = #{step} + 1, refOrder = #{refOrder} + 1 where rno = #{rno};
 	</update>
 	<update id="updateReRef">
 		update reviewReply set ref = #{parentRef} where rno = #{rno}
 	</update>
  </mapper>