<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.boritgogae.boardMarketMapper">
  	<insert id="write">
  		insert into marketBoard(writer, title, content)values(#{writer}, #{title}, #{content})
  	</insert>
  	
  	<select id="getAllBoard" resultType="com.boritgogae.board.market.domain.MarketBoardVO">
  		select * from marketBoard order by writtenDate desc limit #{startNum}, #{postPerPage}
  	</select>
  	
  	<select id="getContent" resultType="com.boritgogae.board.market.domain.MarketBoardVO">
  		select * from marketBoard where no =#{no}
  	</select>
  	
  	<update id="modify">
  		update marketBoard set title=#{title} , content=#{content} where no=#{no} 
  	</update>
  	
  	<delete id="delContent">
  		delete from marketBoard where no=#{no}
  	</delete>
  	
  	<update id="readCount">
  		update marketBoard set readCount = readCount+1 where no = #{no}
  	</update>
  	
  	<select id="getTotalCnt" resultType="int">
  		select count(*) from marketBoard
  	</select>
  	
  	<select id="getSearchResultCnt"  resultType="int">
  		select count(*) as cnt from  marketBoard where 
  		<choose>
	  		<when test="searchType=='title'">
	  			title like concat('%',#{searchWord},'%')
	  		</when>
	  		<when test="searchType=='writer'">
	  			writer like concat('%',#{searchWord},'%')
	  		</when>
	  		<when test="searchType=='content'">
	  			content like concat('%',#{searchWord},'%')
	  		</when>
  		</choose>
  	</select>
  	
  	<select id="search"  resultType="com.boritgogae.board.market.domain.MarketBoardVO">
  		select *from  marketBoard where 
  		
  		<if test="searchType=='title'">
  			title like concat('%',#{searchWord},'%')
  		</if>
  		<if test="searchType=='writer'">
  			writer like concat('%',#{searchWord},'%')
  		</if>
  		<if test="searchType=='content'">
  			content like concat('%',#{searchWord},'%')
  		</if>
  		
  	</select>
  	
  	<!-- 댓글 쿼리문 -->
  	
  	<insert id="replyWrite">
  		insert into marketReply (bno, replyer, replyContent) values(#{bno}, #{replyer}, #{replyContent})
  	</insert>
  	
  	<select id="getAllReply" resultType="com.boritgogae.board.market.domain.MarketReplyVO">
  		select * from marketReply where bno =#{bno}
  	</select>
  	
  	<update id="modiReply">
  		update marketReply set replyContent=#{replyContent} where rno=#{rno}
  	</update>
  	
  	<delete id="delReply">
  		delete from marketReply where rno = #{rno}
  	</delete>
  	
  	<!-- 이미지 파일 쿼리문 -->
  	<insert id="addImgFile">
  		 insert into marketBoardImg(bno, originFileName, thumbnailFileName) values(#{lastNo},#{savedOriginImageFileName},#{thumbnailFileName})
  	</insert>
  	
  	<insert id="addNotImgFile">
  		 insert into marketBoardImg(bno, originFileName) values(#{lastNo},#{savedOriginImageFileName})
  	</insert>
  	
  	<!-- 이미지 파일 있는지? -->
  	<select id="getAttachFiles" resultType="com.boritgogae.board.market.domain.MarketUploadFileVo">
  		select * from marketBoardImg where bno = #{lastNo}
  	</select>
  	
  	<select id="getLastNo" resultType="int">
  		select max(no) as lastpk from marketBoard
  	</select>
  	
  	<update id="updateRef">
  		update marketBoard set ref = #{lastNo}  where no = #{lastNo}
  	</update>
  	
  
  </mapper>