<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.boritgogae.memberMapper">
  
  	<!-- 로그인하기위해 id와 pwd로 회원정보를 검색 -->
  	<select id="logIn" resultType="MemberVo">
  		select * from members where memberId = #{memberId} and memberPwd = #{memberPwd}
  	</select>
  	
  	<!-- 자동로그인을 체크한 회원의 로그인유지를 위한 세션 정보 업데이트 -->
  	<!-- <update id="updateMemberSession">
  		update members set sessionId = #{sessionId}, sessionLimit = #{sessionLimit} where memberId = #{memberId}
  	</update>  -->
  	
  </mapper>