<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.boritgogae.orderMapper">
  
  <!-- 사용가능한 쿠폰 얻어옴 -->
  	<select id="getUsableCoupon" resultType="com.boritgogae.domain.CouponUsedVo">
  		select * from couponUsed where memberId = #{memberId} and orderNo is null
  	</select>
  	
  	<!-- 쿠폰이름으로 쿠폰vo얻어옴 -->
  	<select id="getCouponByCouponName" resultType="com.boritgogae.domain.CouponVo">
  		select * from coupon where couponName = #{couponName}
  	</select>
  	
  	<select id="getDeliveryFeeVo" resultType="com.boritgogae.domain.DeliveryFeeVo">
  		select * from deliveryFee where deliveryOption = #{deliveryOption}
  	</select>
  </mapper>