<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.boritgogae.productMapper">
  	<select id="popularProduct" resultType="com.boritgogae.domain.ProductDTO">
  		select substring_index(prodName,' ',1) as brand,a.*, b.originalFile from product as a , prodImg as b where a.prodNo= #{prodNo} and b.prodNo = #{prodNo} limit 0,1 
  	</select>
  	
  	<select id="LastProduct" resultType="com.boritgogae.domain.ProductDTO">
  		select substring_index(prodName,' ',1) as brand,a.*, b.originalFile from product as a , prodImg as b where a.prodNo=b.prodNo order by a.prodPutDate desc limit 0,6 
  	</select>
  	
  	<select id="prodList" resultType="ProductDTO">
  		select b.*,a.originalFile from prodImg as a, product as b where a.prodNo = b.prodNo order by prodNo desc limit #{startNum},#{postPerPage}
  	</select>
  	
  	<select id="prodCnt" resultType="int">
  		select count(*) from product
  	</select>
  	
  	<!-- 하나의 상품 가져오기 -->
	<select id="getProd" resultType="com.boritgogae.domain.ProductVo">
  		select * from product where prodNo = #{prodNo}
  	</select>
  	
  	<!-- 상품 이미지 리스트 가져오기 -->
  	<select id="getProdImg" resultType="com.boritgogae.domain.ProdImgVo">
  		select * from prodImg where prodNo = #{prodNo}
  	</select>
  	
  	<!-- 상품 리뷰 개수 업데이트 -->
  	<update id="updateProdReview">
  		update product set reviewCount = reviewCount + 1 where prodNo = #{prodNo}
  	</update>
  	
  	<!-- 하나의 제품상세 가져옴 -->
  	<select id="getProdContent" resultType="com.boritgogae.domain.ProductContentVo">
  		select * from productContent where prodNo = #{prodNo}
  	</select>
  </mapper>