<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.boritgogae.productMapper">
  	<select id="getProd" resultType="com.boritgogae.domain.ProductVO">
  		select * from product where prodNo = #{prodNo}
  	</select>
  	<select id="getProdImg" resultType="com.boritgogae.domain.ProdImgVO">
  		select * from prodImg where prodNo = #{prodNo}
  	</select>
  	<update id="updateProdReview">
  		update product set reviewCount = reviewCount + 1 where prodNo = #{prodNo}
  	</update>
  </mapper>